/* Header css start */

.pf-header-section{
    padding: 32px 0;
}

.headerLogo img{
    width: 164px;
    max-width: 100%;
}

.Head2 .HeaderText .header-text{
    color: '#050808';
    font-family: 'Outfit';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    height: 25px;
    margin: auto 0;
    padding-top: 7px;
}
.HeaderIcon{
    margin-top: 7px;
    display: flex;
}
.HeaderIcon a svg{ 
    color: #050808;
}

.HeaderIcon a svg path{ 
    transition: stroke 0.3s ease;
}
.HeaderIcon a:hover svg path{ 
    stroke: #2196D7;
}
.HeaderIcon a{ 
    margin-right: 22px;
}
.headerRow{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}
.headerRow{
    position: relative;
}


.headerRow::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #050808;
}


.count{
    position: relative;
}
.count p{
    color: #fff;
    width: 24px;
    height: 24px;
    background: #2196D7;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    font-family: 'Outfit';
    left: 8px;
    top: -11px;
    font-size: 12px;
    font-weight: 700;
}



/* responsive======> */
@media(min-width:992px) and (max-width:1199.98px){
 
/* Header css start */
.HeaderText p{
    padding-top: 0;
    width: 550px;
}
.nav ul a{
    margin-right: 23px;
    font-size: 14px;
}
/* Header css end */
}



@media(min-width:768px) and (max-width:991.98px){

/* Header css start */
.HeaderText{
    display: none;
}
.pf-header-section{
    padding: 22px 0;
}
.headerRow::after{
    bottom: -22px;
}
/* Header css end */

}


@media (min-width: 576px) and (max-width: 767px) {
   /* Header css start */
.HeaderText{
    display: none;
}
.pf-header-section{
    padding: 22px 0;
}
.headerRow::after{
    bottom: -22px;
}
/* Header css end */


}

@media (min-width: 520px) and (max-width: 575.98px) { 
   
/* Header css start */
.HeaderText{
    display: none;
}
.pf-header-section{
    padding: 22px 0;
}
.headerRow::after{
    bottom: -22px;
}
/* Header css end */



}




@media (min-width: 370px) and (max-width: 519.98px) {

  /* Header css start */
.HeaderText{
    display: none;
}
.pf-header-section{
    padding: 22px 0;
}
.headerRow::after{
    bottom: -22px;
}

.HeaderIcon a svg{
    width: 20px;
    height: 20px;
}

.HeaderIcon a {
    margin-right: 15px;
}

.navbarToggle svg{
    width: 20px;
    height: 20px;
}
.count p{
    width: 20px;
    height: 20px;
    padding-top: 3px;
    left: 8px;
    top: -8px;
}

.headerLogo img {
    width: 145px;
    max-width: 100%;
}
/* Header css end */

}

@media (max-width: 369.98px) {
   
/* Header css start */
.HeaderText{
    display: none;
}
.pf-header-section{
    padding: 22px 0;
}
.headerRow::after{
    bottom: -22px;
}

.HeaderIcon a svg{
    width: 20px;
    height: 20px;
}
.HeaderIcon a {
    margin-right: 15px;
}

.navbarToggle svg{
    width: 20px;
    height: 20px;
}
.count p{
    width: 20px;
    height: 20px;
    padding-top: 3px;
    left: 8px;
    top: -8px;
}
.headerLogo img {
    width: 145px;
    max-width: 100%;
}
/* Header css end */
}

/* Header css end */


/* Navigation css start */

.Navigation{
    padding: 30px 0;
}
.nav ul{
    display: flex;
    justify-content: center;
}
.nav ul a{
    margin-right: 48px;
    color: var(--Black, #050808);
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    transition: all linear .3s;
}
.nav ul a svg{
    margin-left: 5px;
}
.nav ul a:hover{
    color: #2196D7;
}
.nav ul a svg path {
    transition: fill 0.3s ease; 
}

.nav ul a:hover svg path{
    fill: #2196D7;
}
.navbarToggle svg{
    width: 24px;
    height: 24px;
    display: none;
}


/* ============> respnsive */

@media(min-width:1200px) and (max-width:1399.98px){
    /* Navigation css start */
    .nav ul a{
        margin-right: 32px;
    }
    /* Navigation css end */

}

@media(min-width:768px) and (max-width:991.98px){
/* Navigation css start */
    .nav ul{
        display: none;
    }

    .navbarToggle svg{
        display: block;
    }
    .active{
        display: block !important;
    }
    .nav li a{
        padding-bottom: 20px;
    }

    .nav ul{
        text-align: center;
    }
 
    .Navigation{
        padding: 0;
    } 
/* Navigation css end */

}


@media (min-width: 576px) and (max-width: 767px) {
  
/* Navigation css start */
.nav ul{
    display: none;
}

.navbarToggle svg{
    display: block;
}
.active{
    display: block !important;
}
 
.Navigation{
    padding: 0;
} 
/* Navigation css end */

}

@media (min-width: 520px) and (max-width: 575.98px) { 
   


/* Navigation css start */
.nav ul{
    display: none;
}

.navbarToggle svg{
    display: block;
}
.active{
    display: block !important;
}
 
.Navigation{
    padding: 0;
} 
/* Navigation css end */

}


@media (min-width: 370px) and (max-width: 519.98px) {

/* Navigation css start */
.nav ul{
    display: none;
}

.navbarToggle svg{
    display: block;
}
.active{
    display: block !important;
}
 
.Navigation{
    padding: 0;
} 
/* Navigation css end */

}

@media (max-width: 369.98px) {
   
/* Navigation css start */
.nav ul{
    display: none;
}

.active{
    display: block;
}

.navbarToggle svg{
    display: block;
}

.active{
    display: block !important;
}
 
.Navigation{
    padding: 0;
} 
/* Navigation css end */


}


/* Navigation css end */



/* banner-section css start */
.pf-banner-section {
    background-image: url('../images/Banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 176px 0;
}


.pf-banner-text{
    color: #ffff;
    font-family: 'Outfit';
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    max-width: 590px;
}
.BannerText .pf-pragraph{
    color: #ffff;
    font-family: 'Outfit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 577px;
    padding-top: 15px;
    padding-bottom: 35px;
}
.pf-button button{
    padding: 15px 30px;
    border-radius: 50px;
    background: #2196D7;
    border: none;
    color: #fff;
    font-family: 'Outfit';
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all linear .3s;
}
 .pf-button button:hover{
    background: #1b7baf;
}

/* =========> responsive */

@media(min-width:768px) and (max-width:991.98px){

.BannerText .pf-banner-text {
    font-size: 45px;
    max-width: 554px;
    line-height:70px;
}
.BannerText .pf-pragraph{
    max-width: 478px;
}
.pf-banner-section{
    padding: 101px 0;

}

}


@media (min-width: 576px) and (max-width: 767px) {

.BannerText .pf-banner-text {
    font-size: 40px;
    max-width: 499px;
    line-height: 59px;
}
.BannerText .pf-pragraph{
    max-width: 382px;
}
.BannerText .pf-banner-section{
    padding: 101px 0;

}

}

@media (min-width: 520px) and (max-width: 575.98px) { 

.BannerText .pf-banner-text {
    font-size: 40px;
    max-width: 499px;
    line-height: 59px;
}
.BannerText .pf-pragraph{
    max-width: 382px;
}
.pf-banner-section{
    padding: 101px 0;

}

}

@media (min-width: 370px) and (max-width: 519.98px) {

.BannerText .pf-banner-text {
    font-size: 35px;
    max-width: 499px;
    line-height: 52px;
}
.BannerText .pf-pragraph{
    max-width: 382px;
    font-size: 14px;
    line-height: 28px;
}
.pf-banner-section{
    padding: 80px 0;
}
.pf-button button {
    padding: 10px 20px;
    font-size: 14px;
}

}

@media (max-width: 369.98px) {
.BannerText .pf-banner-text {
    font-size: 30px;
    max-width: 100%;
    line-height: 44px;
}
.BannerText .pf-pragraph{
    max-width: 382px;
    font-size: 14px;
    line-height: 28px;
}
.pf-banner-section{
    padding: 70px 0;
}
.pf-button button {
    padding: 10px 20px;
    font-size: 14px;
}


}


/* Banner css end */


/* infoSection css start */
.infoSection{
    padding: 32px 0;
    background-image: url('../images/infoBacground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infoCard{
    display: flex;
    align-items: center;
}
.infoCard img{
    margin-right: 30px;
}
.infoCard h4{
    color: #fff;
    font-family: 'Outfit';
    font-size: 25px;
    font-weight: 600;
}


/* responsive */
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){
}
@media(min-width:992px) and (max-width:1199.98px){
}
@media(min-width:768px) and (max-width:991.98px){

    .infoCard h4{
        font-size: 16px;
    }
    .infoCard img{
       max-width: 100%;
    }

    .infoSection{
        padding: 30px 0;
    }
    .infoCard{
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
 
    .infoCard h4{
        font-size: 16px;
    }
    .infoCard img{
       max-width: 100%;
    }

    .infoSection{
        padding: 30px 0;
    }
    .infoCard{
        margin-bottom: 20px;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 

    .infoCard h4{
        font-size: 16px;
    }
    .infoCard img{
       max-width: 100%;
    }

    .infoSection{
        padding: 30px 0;
    }
    .infoCard{
        margin-bottom: 20px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    
    .infoCard h4{
        font-size: 16px;
    }
    .infoCard img{
       max-width: 100%;
    }

    .infoSection{
        padding: 30px 0;
    }
    .infoCard{
        margin-bottom: 20px;
    }
}

@media (max-width: 369.98px) {
    
    .infoCard h4{
        font-size: 16px;
    }
    .infoCard img{
       max-width: 100%;
    }

    .infoSection{
        padding: 30px 0;
    }
    .infoCard{
        margin-bottom: 20px;
    }
}

/* infoSection css end */

/* category css start */
.pf-cartegory-section{
    padding: 121px 0;
}
.pf-category-Heading{
    color: #050808;
    text-align: center;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 600;
    padding-top: 18px;
}
.category-card p{
    color: var(--paragraph, #666);
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-card img{
    width: 100%;
    max-width: 100%;
}

/* swiper css=======> */

.pf-cartegory-section .swiper {
    max-width: 100%;
    height: 100%;
  }

  .pf-cartegory-section .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cetegory_slider_btn{
    width: 40.278px;
    height: 40.278px;
    color: #fff;
    background: #2196D7;
    border-radius: 50%;
    margin-top: -3rem;
  }
  .cetegory_slider_btn::after{
    font-size: 14px;
  }

  .pf-cartegory-section .mySwiper .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 18px);
}
.pf-cartegory-section .mySwiper .swiper-button-prev{
    right: var(--swiper-navigation-sides-offset, 11px);
}

/* responsive=====> */

@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 4px);
    }

    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 0px);
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 1px);
    }
    .cetegory_slider_btn {
        margin-top: -4rem;
    }
    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, -1px);
    }

    
}
@media(min-width:768px) and (max-width:991.98px){
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 1px);
    }
    .cetegory_slider_btn {
        margin-top: -4.2rem;
    }

    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 0px);
    }


}

@media (min-width: 576px) and (max-width: 767px) {
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 59px);
    }

    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 65px);
    }

    .pf-cartegory-section {
        padding: 80px 0;
    }

    .heading .pf-heading{
        font-size: 30px;
    }
    .category-card h4{
        font-size: 20px;
    }

}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 59px);
    }

    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 60px);
    }

    .pf-cartegory-section {
        padding: 80px 0;
    }

    .heading .pf-heading{
        font-size: 30px;
    }
    .category-card h4{
        font-size: 20px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 34px);
    }

    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 35px);
    }

    .pf-cartegory-section {
        padding: 80px 0;
    }

    .heading .pf-heading{
        font-size: 30px;
    }
    .category-card h4{
        font-size: 18px;
    }
}

@media (max-width: 369.98px) {
    .pf-cartegory-section .mySwiper .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 20px);
    }
    .pf-cartegory-section .mySwiper .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 19px);
    }

    .pf-cartegory-section {
        padding: 80px 0;
    }

    .heading .pf-heading{
        font-size: 30px;
    }
    .category-card h4{
        font-size: 18px;
    }
}

/* category css end */


/* shop-card css start */

#next-btn{
    margin-right: 20px;
    cursor: pointer;
}
#prev-btn{
    cursor: pointer;
}

.shop-card-Heading{
    position: relative;
}
.arrow-slide-btn{
    display: flex;
    position: absolute;
    right: 0;
    top: 74px;
}

.shop-card-section{
    padding-bottom: 121px;
}
.shop-card-Heading .pf-heading{
    text-align: start;
    font-weight: 600;
    max-width: 520px;
    padding-bottom: 14px;
}
.shop-card-Heading .pf-subHeading{
    max-width: 575px;
    text-align: start;
    margin: 0;
}
.shop-cart img{
    padding-bottom: 22px;
    width: 100%;
    max-width: 100%;
}
.shop-cart a span{
    color: #050808;
    font-family: 'Outfit';
    font-size: 13px;
    font-weight: 400;
}
.shop-cart a{
    margin-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
}
.shop-cart h4{
    color: #050808;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    max-width: 300px;
    margin-bottom: 14px;
    margin-right: auto;
}

.shop-cart h3{
    color: #2196D7;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
}
.shop-cart .pf-button button{
    padding: 15px 95px;
}
.shop-cart{
    position: relative;
    transition: all linear .3s;
    text-align: left;
}
.hoverIcon{
    position: absolute;
    right: 27px;
    top: 21px;
    display: flex;
    flex-direction: column;
}
.hoverIcon a{
    background: #2196D7;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.hoverIcon{
    opacity: 0;
    transition: all linear .3s;
}
.shop-cart:hover .hoverIcon{
   opacity: 1 ;
}

.mainSwiper{
    position: relative;
}




/* responsive */
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){
    .shop-cart .pf-button button{
        padding: 15px 70px;
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .shop-cart .pf-button button{
        padding: 15px 50px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .shop-cart .pf-button button{
        padding: 15px 50px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .shop-cart .pf-button button{
        padding: 15px 50px;
        width: 100%;
    }

    .shop-cart {
        display: flex;
        flex-direction: column;
    }
    .shop-card-Heading .pf-heading{
        font-size: 30px;
        text-align: center;
    }
    .shop-card-Heading p{
        text-align: center;
    }
    .shop-card-section{
        padding-bottom: 0;
    }
    .arrow-slide-btn{
        display: none;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 

    .shop-cart .pf-button button{
        padding: 15px 50px;
        width: 100%;
    }

    .shop-cart {
        display: flex;
        flex-direction: column;
    }

    .shop-card-Heading .pf-heading{
        font-size: 30px;
        text-align: center;
    }
    .shop-card-Heading p{
        text-align: center;
    }
    .shop-card-section{
        padding-bottom: 0;
    }
    .arrow-slide-btn{
        display: none;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .shop-cart .pf-button button{
        padding: 15px 50px;
        width: 100%;
    }

    .shop-cart {
        display: flex;
        flex-direction: column;
    }

    .shop-card-Heading .pf-heading h2{
        font-size: 30px;
        text-align: center;
    }
    .shop-card-Heading .pf-subHeading{
        text-align: center;
    }

    .shop-card-section{
        padding-bottom: 0;
    }
    .arrow-slide-btn{
        display: none;
    }
}

@media (max-width: 369.98px) {
    .shop-cart .pf-button button{
        padding: 15px 50px;
        width: 100%;
    }

    .shop-cart {
        display: flex;
        flex-direction: column;
    }

    .shop-card-Heading .pf-heading{
        font-size: 30px;
        text-align: center;
    }
    .shop-card-Heading .pf-subHeading{
        text-align: center;
    }

    .shop-card-section{
        padding-bottom: 0;
    }
    .arrow-slide-btn{
        display: none;
    }
}
/* shop-card css end */


/* promis css start*/
.promis-section{
    padding-bottom: 121px;
}

.promis-item img{
    padding-top: 24px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 17px;
}
.promis-item
.pf-category-Heading{
    padding-top: 0;
    padding-bottom: 8px;
}


.promis-img img{
    width: 410px;
max-width: 100%;
}

.mainPromis{
    align-items: center;
}

.middle-col{
    display: flex;
    justify-content: center;
}
/* responsive======> */

@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

}
@media(min-width:992px) and (max-width:1199.98px){
   
}
@media(min-width:768px) and (max-width:991.98px){

    .top-col {order: 2;}
}

@media (min-width: 576px) and (max-width: 767px) {


    .top-col {order: 2;}
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .top-col {order: 2;}
    .promis-item h4{
        font-size: 20px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .top-col {order: 2;}
    .promis-item h4{
        font-size: 20px;
    }
}

@media (max-width: 369.98px) {
    .top-col {order: 2;}
    .promis-item h4{
        font-size: 20px;
    }
}
/* promis css end*/



/* Performance css start */
    .performace-section{
        background: url('../images/performanceBanner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 121px 0;
    }

    .performance-left .pf-heading{
        text-align: start;
        padding-bottom: 45px;
    }

    .performance-Bottom .pf-subHeading{
        max-width: 446px;
        text-align: start;
        margin: 0 0 0 auto;
    }
    .performance-top{
        display: flex;
        align-items: center;
    }
    .performance-top h4{ 
        color: #2196D7;
        text-align: center;
        font-family: 'Outfit';
        font-size: 25px;
        font-weight: 600;
        padding: 13px;
        background: #EBF4FF;
        border-radius: 14px;
    }
    .performance-top::after{
        content: '';
        position: absolute;
        left: 119px;
        top: 41px;
        width: 0.5px;
        height: 56px;
        z-index: 1;
        opacity: 0.5;
        background: #666;
    }
    .perfomance-card{
        position: relative;
        margin-bottom: 40px;
    }

    .performance-top h5{
        color: #050808;
        font-family: 'Outfit';
        font-size: 26px;
        font-weight: 600;
        margin-left: 52px;
    }
    .performance-top svg{
        margin: 0 0 0 auto;
    }
    .perfomance-card{
        background: white;
        padding: 40px;
        border-radius: 15px;
        cursor: pointer;
        border: 0.2px solid #666;
    }

    .performance-Bottom{
        display: none;
    }
    .performanceActive{
        display: block !important;
    }

    .performanceRow{
        align-items: center;
    }
    .performanceBtn .pf-button button{
        padding: 15px 30px;
        margin-bottom: 40px;
    }


    .performance-right{
        display: flex;
        justify-content: center;
    }
    .performance-right img{
        max-width: 100%;
        width: 100%;
    }
    .performance-left{
        position: relative;
    }
    .perfomance-card::before{
        content: '';
        position: absolute;
        left: 68px;
        bottom: -40px;
        background: #2196D7;
        width: 1px;
        height: 40px;
    }
    .perfomance-card:nth-last-child(2)::before{
        content: none;
    }



    /* =====> responsive */



    
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

}
@media(min-width:992px) and (max-width:1199.98px){

    .perfomance-card{
        padding: 20px;
    }

    .performance-top::after {
        left: 99px;
        top: 20px;
    }
}
@media(min-width:768px) and (max-width:991.98px){


}

@media (min-width: 576px) and (max-width: 767px) {
    .performance-left .pf-heading{
        font-size: 30px;
    }
    .performance-top h5{
        font-size: 22px;
    }

    .performace-section{
        padding: 80px 0;
    }
    .promis-section{
        padding: 80px 0;
    }
    .perfomance-card{
        padding:20px 40px;
    }
    .performance-top::after {
        left: 118px;
        top: 21px;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 

    .performance-left .pf-heading{
        font-size: 30px;
    }
    .performance-top h5{
        font-size: 20px;
    }

    .perfomance-card{
        padding:20px 40px;
    }

    .performance-top::after{
        top: 23px;
    }

    .performance-top h4{
        font-size: 22px;
        padding: 10px 15px;

    }
    .performanceBtn .pf-button button{
        padding: 10px 20px;
        font-size: 16px;
    }
    .performance-Bottom p{
        margin-left: 0;
    }
    .performace-section{
        padding: 80px 0;
    }
    .promis-section{
        padding: 80px 0;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .performance-left .pf-heading{
        font-size: 30px;
    }
    .performance-top h5{
        font-size: 20px;
        margin-left: 26px;
    }

    .perfomance-card{
        padding:20px;
    }

    .performance-top::after{
        top: 17px;
        left: 87px;
    }

    .performance-top h4{
        font-size: 22px;
        padding: 10px 15px;

    }
    .performanceBtn .pf-button button{
        padding: 10px 20px;
        font-size: 16px;
    }
    .performance-Bottom p{
        margin-left: 0;
    }
    .performace-section{
        padding: 80px 0;
    }
    .promis-section{
        padding: 80px 0;
    }
}

@media (max-width: 369.98px) {
    .performance-left .pf-heading{
        font-size: 30px;
    }
    .performance-top h5{
        font-size: 20px;
        margin-left: 26px;
    }

    .perfomance-card{
        padding:20px;
    }

    .performance-top::after{
        top: 17px;
        left: 87px;
    }

    .performance-top h4{
        font-size: 22px;
        padding: 10px 15px;
    }
    .performanceBtn .pf-button button{
        padding: 10px 20px;
        font-size: 16px;
    }
    .performance-Bottom p{
        margin-left: 0;
    }
    .performace-section{
        padding: 80px 0;
    }
    .promis-section{
        padding: 80px 0;
    }
}
/* Performance css end */


/* testimonial css start */
.testimonial-section{
    padding: 121px 0;
}
.tes-card-top h3{
    color: #050808;
    font-family: 'Outfit';
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 8px;
}
.testimonial-card{
    background: url('../images/tastimonialCardBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 57px;
    max-width: 630px;
    border-radius: 18px;
    position: relative;
}
.tes-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.tes-card-top a{
    display: flex;
    flex-direction: row-reverse;
}
.testimonial-card .pf-subHeading{
    text-align: end;
    padding-top: 29px;
}
.testimonial-card h4{
    color: #666;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    border-bottom: 0.2px solid #666; 
    padding-bottom: 29px;
}



.tes-card-top span{
    color: #050808;
    font-family: 'Outfit';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}
.tes-card-top a svg{
    padding-right: 12px;
}

.testimonial-card img {
    position: absolute;
    left: 50%;
    bottom: -81px;
    transform: translateX(-50%);
}


/* swiper css */
.testimonial-section .swiper {
    max-width: 100%;
    height: 100%;
  }

  .testimonial-section .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .testimonial-section .swiper-slide img {
    max-width: 180px;
    height: auto;
  }


  .testimonial-section 
  .swiper-button-next:after {
    font-size: 16px;
    color: #fff;
    padding: 12px 16px 12px 14px;
    background: #2196D7;
    border-radius: 50%;
}
.testimonial-section 
.swiper-button-prev:after {
  font-size: 16px;
  color: #fff;
  padding: 12px 16px 12px 14px;
  background: #2196D7;
  border-radius: 50%;
}

.testimonial-section .swiper .mainSwiper .swiper-slide{
    padding-bottom: 95px;
}

.testimonial-section .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 6px);
    right: auto;
}
.testimonial-section .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 5px);
    left: auto;
}

.testimonial-section .swiper-button-next, .swiper-button-prev{
    top: var(--swiper-navigation-top-offset, 41%);
} 

/* ======> responsive */


    
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

    .testimonial-card{
        padding: 41px;
    }
 
}
@media(min-width:992px) and (max-width:1199.98px){
    .testimonial-card{
        padding: 41px;
    }
    .tes-card-top h3{
        font-size: 28px;
    }

}
@media(min-width:768px) and (max-width:991.98px){


}

@media (min-width: 576px) and (max-width: 767px) {
    .testimonial-section{
        padding-top: 80px;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .tes-card-top h3 {
        font-size: 28px;
    }

    .testimonial-card p{
        padding-top: 31px;
    }
    .testimonial-section{
        padding-top: 80px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .tes-card-top h3 {
        font-size: 24px;
    }
    .tes-card-top{
        flex-direction: column;
        align-items: end;
    }


    .testimonial-card p{
        padding-top: 31px;
    }
    .testimonial-card{
        padding: 20px;
    }
    .testimonial-section{
        padding-top: 80px;
    }
}

@media (max-width: 369.98px) {
    .tes-card-top h3 {
        font-size: 24px;
    }
    .tes-card-top{
        flex-direction: column;
        align-items: end;
    }

    .testimonial-card p{
        padding-top: 31px;
    }
    .testimonial-card{
        padding: 20px;
    }
    .testimonial-section{
        padding-top: 80px;
    }
}
/* testimonial css end */

/* artical-section css start */
.artical-section{
    padding-bottom: 121px;
}

.article-card{
    max-width: 410px;
    height: auto;
    padding: 29px;
    border-radius: 15px;
    background: #F4F9FF;
    padding-top: 45px;
    margin: 0 auto;
}
.article-card p{
    color: #2196D7;
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 600;
    padding-top: 22px;
}
.article-card .pf-category-Heading{
    max-width: 296px;
    text-align: start;
}
.article-card a{
    color: #050808;
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 500;
    text-decoration-line: underline;
}
.article-card a img{
   width: 100%;
   max-width: 100%;
}

.article-card .pf-subHeading{
    text-align: start;
    padding-bottom: 20px;
}

.articleCol{
    margin-bottom: 30px;
}
.articleCol:nth-last-child(1){
    margin-bottom: 0;
}


/* responsive -----> */

@media (min-width: 576px) and (max-width: 767px) {
    .artical-section{
        padding: 80px 0;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .article-card h4{
        font-size: 20px;
    }
    .artical-section{
        padding: 80px 0;
    }

}

@media (min-width: 370px) and (max-width: 519.98px) {
    .article-card h4{
        font-size: 20px;
    }
    .artical-section{
        padding: 80px 0;
    }
}

@media (max-width: 369.98px) {
    .article-card h4{
        font-size: 20px;
    }
    .artical-section{
        padding: 80px 0;
    }
}

/* artical-section css end */


/* form css start */
.form{
    background: url('../images/formBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    padding: 95px 71px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
}
.main-form{
    display: flex;
}
.form .pf-heading{
    padding-bottom: 38px;
}

.form input{
    max-width: 502px;
    height: 46px;
    border-radius: 23px;
    background: #fff;
    padding-left: 23px;
    border: none;
}

.form input::placeholder{
    color:#050808;
    font-family: 'Outfit';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.form .pf-button button{
    width: 100%;
    max-width: 100%;
}

.form h3{
    padding-bottom: 38px;
}
.form img{
    max-width: 100%;
    width: 100%;
}
.form-section{
    padding-bottom: 121px;
}
.formImg img{
    max-width: 645px;
    height: 388px;
}

/* responsive ========================> */


    
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){
    .formImg img{
        max-width: 550px;
        height: 387px;
    }
 
}
@media(min-width:992px) and (max-width:1199.98px){
    .formImg img{
        width: 30rem;
        height: 387px;
    }

}
@media(min-width:768px) and (max-width:991.98px){

    .main-form{
        flex-direction: column;
    }
    .form{
        border-radius: 20px;
    }
    .formImg img{
        border-radius: 20px;
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-form{
        flex-direction: column;
    }
    .form{
        border-radius: 20px;
    }
    .formImg img{
        border-radius: 20px;
        max-width: 100%;
        width: 100%;
    }
    .form-section {
        padding-bottom: 80px;
    }
    .form h3{
        font-size: 30px;
    }
}
@media (min-width: 520px) and (max-width: 575.98px) { 
    .main-form{
        flex-direction: column;
    }
    .form{
        border-radius: 20px;
    }
    .formImg img{
        border-radius: 20px;
        max-width: 100%;
        width: 100%;
    }
    .form-section {
        padding-bottom: 80px;
    }
    .form h3{
        font-size: 30px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .main-form{
        flex-direction: column;
    }
    .form{
        border-radius: 20px;
        padding: 40px 22px;
    }
    .formImg img{
        border-radius: 20px;
        max-width: 100%;
        width: 100%;
    }
    .form-section {
        padding-bottom: 80px;
    }
    .form h3{
        font-size: 30px;
    }

}

@media (max-width: 369.98px) {
    .main-form{
        flex-direction: column;
    }
    .form{
        border-radius: 20px;
        padding: 40px 22px;
    }
    .formImg img{
        border-radius: 20px;
        max-width: 100%;
        width: 100%;
    }
    .form-section {
        padding-bottom: 80px;
    }
    .form h3{
        font-size: 30px;
    }
}
/* form css end */



/* Brand logo section css start */
    .brandLogo-section{
        padding-bottom: 121px;
    }
    .brand-logo img{
        width: 100%;
        max-width: 100%;
    }

        
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

 
}
@media(min-width:992px) and (max-width:1199.98px){
  

}
@media(min-width:768px) and (max-width:991.98px){

  
}

@media (min-width: 576px) and (max-width: 767px) {
    .brandLogo-section {
        padding-bottom: 80px;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .brandLogo-section {
        padding-bottom: 80px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .brandLogo-section {
        padding-bottom: 80px;
    }

}

@media (max-width: 369.98px) {
    .brandLogo-section {
        padding-bottom: 80px;
    }
}

/* Brand logo section css end */

/* footer css start */
.footer-section{
    padding-top: 120px;
    background: url('../images/footerBanner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footerHeading .pf-heading{
    padding-bottom: 14px;
    max-width: 564px;
    text-align: start;
}
.footerHeading .pf-subHeading{
    text-align: start;
    max-width: 470px;
    margin: 0;
    padding-bottom: 0;
}

.footerLeft input{
    height: 62px;
    background: #fff;
    border-radius: 31px;
    padding-left: 31px;
    max-width: 100%;
    border: none;
    width: 100%;
}
.footerLeft .pf-button button{
    padding: 15px 35px;
}

.footer1 h4{
    color: #050808;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer1 .pf-subHeading{
    color: #1A1A1A;
    max-width: 390px;
    text-align: start;
    margin: 0;
}
.footer1 a h5{
    color: #1A1A1A;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 39px;
}
.footer1 img{
    max-width: 100%;
    width: 100%;
    padding-bottom: 20px;
}
.fotterBottom{
    padding-top: 89px;
}
.footerLeft{
    display: flex;
    background: #fff;
    border-radius: 31px;
    padding: 5px;
    align-items: center;
}

.footerBottom h4{
    color: #1A1A1A;
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 400;
}
.footerBottom span{
    color: #1A1A1A;
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 700;
}
.footerBottomIcon a svg{
    margin-right: 17px;
}

.footerBottomIcon{
   display: flex;
   justify-content: end;
   margin-bottom: 37px;
}

.footerContainer{
    position: relative;
}

.footerBottomRow::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 9%;
    width: 100%;
    height: 0.6px;
    opacity: 0.3;
    background: #666;
}



      
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

 
}
@media(min-width:992px) and (max-width:1199.98px){
  

}
@media(min-width:768px) and (max-width:991.98px){

    .footer1 {
        padding-top: 0;
    }
    .fotterBottom {
        padding-top: 50px;
    }
    .footerCommon {
        padding-bottom: 23px;
    }
    .footerBottomIcon{
        justify-content: start;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .footerBottom h4{
        text-align: center;
    }
    .footerBottomRow::before{
       display: none;
    }
    .footerHeading p{
        padding-bottom: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer-section {
        padding-top: 80px;
    }
    .footer1 {
        padding-top: 0;
    }
    .fotterBottom {
        padding-top: 50px;
    }

    .footerCommon {
        padding-bottom: 23px;
    }

    .footerBottomIcon{
        justify-content: start;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .footerBottom h4{
        text-align: center;
    }
    .footerBottomRow::before{
        display: none;
     }
     .footerHeading p{
         padding-bottom: 14px;
     }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .footer-section {
        padding-top: 80px;
    }
    .footer1 {
        padding-top: 0;
    }
    .fotterBottom {
        padding-top: 50px;
    }

    .footerCommon {
        padding-bottom: 23px;
    }
    .footerBottomIcon{
        justify-content: start;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .footerBottom h4{
        text-align: center;
    }
    .footerBottomRow::before{
        display: none;
     }
     .footerHeading p{
         padding-bottom: 14px;
     }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .footer-section {
        padding-top: 80px;
    }
    .footer1 {
        padding-top: 0;
    }
    .fotterBottom {
        padding-top: 50px;
    }

    .footerCommon {
        padding-bottom: 23px;
    }
    .footerBottomIcon{
        justify-content: start;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .footerBottom h4{
        text-align: center;
    }

    .footerBottomRow::before{
        display: none;
     }
     .footerHeading p{
         padding-bottom: 14px;
     }
}

@media (max-width: 369.98px) {
    .footer-section {
        padding-top: 80px;
    }
    .footer1 {
        padding-top: 0;
    }
    .fotterBottom {
        padding-top: 50px;
    }

    .footerCommon {
        padding-bottom: 23px;
    }
    .footerBottomIcon{
        justify-content: start;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .footerBottom h4{
        text-align: center;
    }

    .footerBottomRow::before{
        display: none;
     }
     .footerHeading p{
         padding-bottom: 14px;
     }
}
/* footer css end */



/* ==================================================
            product Details Page
========================================================*/
/* product details css start */
.product_details_section{
    padding: 138px 0;
}
.product_details_section .swiper-wrapper .topSlider img{
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    padding-bottom: 29px;
}
.product_details_section .swiper-wrapper .bottomSlider img{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0;
    cursor: pointer;
}

.myProductSwiper{
    width: 510px;
    margin: 0 0 0 28px;
    max-width: 100%;
}

.availableDetails .card .availableText{
    color: #050808;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 600;
    padding-top: 14px;
}

.availableDetails{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availableDetails .card img{
    display: block;
    margin: 0 auto;
}
.review svg{
    margin-right: 22px;
}
.pf-product_text{
    color: #050808;
    font-family: 'Outfit';
    font-size: 30px;
    font-weight: 600;
    line-height: 140%; 
    max-width: 589px;
    padding-bottom: 14px;
    padding-top: 9px;
}

.review .pf-price{
    color: #2196D7;
    font-family: 'Outfit';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 53px;
}

.review{
    position: relative;
}
.review .pf-subHeading{
    padding: 0;
    margin: 0;
}

.review .pf-price::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 100%;
    height: 2px;
    opacity: 0.5;
    background: #666;
    height: 0.5px;
}   
.produt_info .pf-subHeading{
    text-align: start;
    margin: 0;
    max-width: 590px;
    padding-bottom: 29px;
}

.produt_info ul .pf-subHeading{
    color: #050808;
    padding: 0;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}
.produt_info ul li svg{
   margin-right: 11px;
}

.bundle .bundle_card .top .pf-subHeading{ 
    margin: 0;
    padding: 0;
}
.bundle .bundle_card .top{ 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pf-BoldPrice{
    color: #2196D7;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
}
.bundle_card{
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #2196D7;
    border-radius: 10px;
    padding: 10px 15px;
}
.bottom{
    display: flex;
    margin-top: 10px;
}

.bottom .pf-subPrice{
    color: #666;
    font-family: 'Outfit';
    font-size: 11px;
    font-weight: 400;
    padding-left: 15px;
}

.pf-discount{
   color: #666;
    font-family: 'Outfit';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-decoration: line-through;
}
.bottom .pf-discount{
    margin-left: auto;
}
.top .pf-BoldPrice{
    margin-left: auto;
}


.top .pf-cheakBox{
    margin-right: 11px;
}

.pf-cheakBox[type="checkbox"] {
    appearance: none; 
    width: 12px;
    height: 12px;
    border: 2px solid #2196D7; 
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.pf-cheakBox[type="checkbox"]:checked {
    background-color: #2196D7; 
    border-color: #ffffff;
}

.bundle{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 57px;
}
.bundle h3{
    color: #050808;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 600;
}

.bundle_card.selected {
    background: #D7ECF8;
}
.mainBundle .bundle-heading{
    color: #050808;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
}

.topCard{
    display: flex;
    align-items: center;
}
.dowCardBundle{
    display: flex;
    justify-content: space-between;
}

.main_downBundleCard{
   background: #D7ECF8;
   padding: 32px 28px;
   border: 1px solid #2196D7;
   border-radius: 10px;
   margin-top: 19px;
}

.main_downBundleCard2{
    background: transparent;
}

.main_downBundleCard .dowCardBundle .topCard .pf_bundle_card{
    color: #050808;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 600;
}

.main_downBundleCard .pf-subHeading{
text-align: start;
margin: 0;
padding-top: 13px;
padding-bottom: 25px;
margin-left: 24px;
}

.main_downBundleCard ul .pf-subHeading{
    margin: 0;
    padding: 0;
    color: #050808;
    line-height: 190%; 
    list-style-type: circle;
}

.main_downBundleCard ul{
    margin-left: 48px;
}

.topCard .pf_bundle_card{
    padding-left: 11px;
}

.product_details_section .pf-button button{
    margin-top: 39px;
    width: 637px;
    max-width: 100%;
    padding: 22px 0;
}
.product_details_section .pf-button{
    max-width: 100%;
}

.product_details_section .row{
    align-items: center;
}


/* ========================> responsive */


    
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

}
@media(min-width:992px) and (max-width:1199.98px){
.myProductSwiper{
    margin: 0;
}

}
@media(min-width:768px) and (max-width:991.98px){
    .myProductSwiper{
        margin: 0 auto;
    }

    .availableDetails{
        justify-content: center;
        gap: 30px;
        margin: 52px 0;
    }

    .product_details_section .pf-button button{
        width: 697px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .myProductSwiper{
        margin: 0 auto;
    }

    .availableDetails{
        justify-content: center;
        gap: 30px;
        margin: 52px 0;
    }

    .product_details_section .pf-button button{
        width: 697px;
    }
    .product_details_section {
        padding: 80px 0;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .myProductSwiper{
        margin: 0 auto;
    }

    .availableDetails{
        justify-content: center;
        gap: 30px;
        margin: 52px 0;
    }

    .pf-product_text{
        font-size: 25px;
    }
    .product_details_section .pf-button button{
        width: 697px;
    }
    .product_details_section {
        padding: 80px 0;
    }
    .review .pf-price{
        font-size: 20px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .myProductSwiper{
        margin: 0 auto;
    }

    .availableDetails{
        justify-content: center;
        gap: 20px;
        margin: 42px 0;
    }

    .pf-product_text{
        font-size: 22px;
    }
    .product_details_section .pf-button button{
        width: 697px;
    }
    .product_details_section {
        padding: 80px 0;
    }
    .review .pf-price{
        font-size: 18px;
    }
    .availableDetails .card .availableText{
        font-size: 15px;
    }


    .produt_info ul .pf-subHeading{
        display: block;
    }

    .bundle{
        flex-direction: column;
        gap: 20px;
    }
    .main_downBundleCard{
        padding: 20px;
    }
    .main_downBundleCard ul{
        margin-left: 21px;
    }
    .main_downBundleCard .pf-subHeading{
        margin-left: 22px;
    }

}

@media (max-width: 369.98px) {

    .myProductSwiper{
        margin: 0 auto;
    }

    .availableDetails{
        justify-content: center;
        gap: 20px;
        margin: 42px 0;
        flex-direction: column;
    }

    .pf-product_text{
        font-size: 22px;
    }
    .product_details_section .pf-button button{
        width: 697px;
    }
    .product_details_section {
        padding: 80px 0;
    }
    .review .pf-price{
        font-size: 18px;
    }
    .availableDetails .card .availableText{
        font-size: 15px;
    }


    .produt_info ul .pf-subHeading{
        display: block;
    }

    .bundle{
        flex-direction: column;
        gap: 20px;
    }
    .main_downBundleCard{
        padding: 20px;
    }
    .main_downBundleCard ul{
        margin-left: 21px;
    }
    .main_downBundleCard .pf-subHeading{
        margin-left: 22px;
    }

}


/* product details css end */



/* support css start */
.suport-card .pf-subHeading{
    text-align: start;
    max-width: 410px;
    margin: 0;
}
.suport-card .pf-support-head{
    color: #050808;
    font-family: 'Outfit';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    max-width: 364px;
    padding-top: 17px;
}
.support_section{
    padding-bottom: 115px;
}
/* support css end */





/* compelte section start  */
.complete_section .pf-banner-text {
    color: #050808;
    max-width: 960px;
    padding-bottom: 45px;
}

.complete-card .pf-subHeading{
    text-align: start;
    margin: 0;
    padding: 0;
}

.complete-card{
    background: #F9FCFF;
    margin-bottom: 51px;
    border-radius: 16px;
}
.complete-card img{
    width: 100%;
    max-width: 100%;
}

.complete_card_text{
    padding: 33px 38px;
}


/* respnsive============> */

@media(min-width:768px) and (max-width:991.98px){
    .complete_section .pf-banner-text{
        font-size: 45px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .complete_section .pf-banner-text{
        font-size: 45px;
        line-height: 70px;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .complete_section .pf-banner-text{
        font-size: 40px;
        line-height: 67px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
    .complete_section .pf-banner-text{
        font-size: 35px;
        line-height: 60px;
    }
}

@media (max-width: 369.98px) {
    .complete_section .pf-banner-text{
        font-size: 30px;
        line-height: 56px
    }
}


/* compelte section end */


/* Work section start */
.work_section{
    padding: 160px 0;
}

.work_section .produt_info .pf-heading{
    padding-bottom: 24px;
    text-align: start;
}
.workRow{
    display: flex;
    align-items: center;
}


.work_section .produt_info .pf-button{
    margin-top: 35px;
}

.workImg img{
    width: 100%;
    max-width: 100%;
}



/* =============> responsive */

  
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){

}
@media(min-width:992px) and (max-width:1199.98px){


}
@media(min-width:768px) and (max-width:991.98px){
   
.workImg img{
    margin-bottom: 30px;
}

}

@media (min-width: 576px) and (max-width: 767px) {
    .workImg img{
        margin-bottom: 30px;
    }
    .work_section{
        padding: 80px 0;
    }
}

@media (min-width: 520px) and (max-width: 575.98px) { 
    .workImg img{
        margin-bottom: 30px;
    }
    .work_section{
        padding: 80px 0;
    }
    .work_section .produt_info .pf-heading{
        font-size: 30px;
    }
}

@media (min-width: 370px) and (max-width: 519.98px) {
  
    .workImg img{
        margin-bottom: 30px;
    }
    .work_section{
        padding: 80px 0;
    }
    .work_section .produt_info .pf-heading{
        font-size: 30px;
    }
}

@media (max-width: 369.98px) {
    .workImg img{
        margin-bottom: 30px;
    }
    .work_section{
        padding: 80px 0;
    }
    .work_section .produt_info .pf-heading{
        font-size: 30px;
    }
}
/* Work section end */

/* why doc section css start */
.why_doc .performance-left .perfomance-card::before{
    display: none;
}
.why_doc .performance-left .perfomance-card{
    padding: 33px;
}
.whydocImg img{
    width: 704px;
    height: auto;
    max-width: 100%;
}
.why_doc .row{
    align-items: center;
    justify-content: center;
}

.why_doc .performance-top h5 {
    font-size: 18px;
}

.why_doc .performance-top::after{
    display: none;
}

.why_doc .performance-top .left{
    border-right: 0.5px solid #666;
    padding-right: 23px;
}

.why_doc .performance-top h5{
    margin-left: 23px;
}


/* =============> responsive */

 

@media(min-width:992px) and (max-width:1199.98px){
    .why_doc .performance-top h5 {
        font-size: 18px;
    }

    .why_doc .performance-left .perfomance-card{
        padding: 19px;
    }
    .why_doc .performance-top h4{
        font-size: 22px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
   
    .why_doc .performance-top h5 {
        font-size: 18px;
    }

    .why_doc .performance-left .perfomance-card{
        padding: 19px;
    }
    .why_doc .performance-top h4{
        font-size: 22px;
    }

}

@media (min-width: 370px) and (max-width: 767px) {
    .why_doc .performance-top h5 {
        font-size: 18px;
    }

    .why_doc .performance-left .perfomance-card{
        padding: 19px;
    }
    .why_doc .performance-top h4{
        font-size: 22px;
    }
}

/* why doc section css end */





/* client Review css start */

    .clientReview_section{
        padding: 160px 0;
    }

    .clientReview_section .pf-heading{
    text-align: start;
    max-width: 520px;
    }
    .clientReview_section .pf-subHeading{
    text-align: start;
    margin: 0;
    max-width: 520px;
    padding-top: 29px;
    padding-bottom: 30px;
    }

    .clientReview_section .clientSlider .mainSwiper .swiper-slide .testimonial-card h4{
        color: #666;
        font-family: 'Outfit';
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        border-bottom: 0.2px solid #666;
        padding-bottom: 29px;
        display: flex;
        justify-content: end;
        padding-left: 6px;
    }


    .clientReview_section .swiper-button-prev{
        top: var(--swiper-navigation-top-offset, 50%);
    }

    .clientReview_section .clientBtnPrev {
        right: var(--swiper-navigation-sides-offset, 1px);
        left: auto;
    }
    .customerRate{
        display: flex;
        align-items: center;
    }

    .customerRate .left{
        border-right: 1px solid #666;
    }

    .customerRate .right .pf-subHeading{
        color: #050808;
        margin: 0;
        padding: 0;
        margin-left: 25px;
    }

    .customerRate .left{
        padding-right: 25px;
    }

    .clientSlider .swiper-slide img{
        width: 189px;
        height: 189px;
        max-width: 100%;
    }

    .clientSlider .swiper-slide{
        padding-bottom: 109px;
    }


    .testimonial-card img {
        position: absolute;
        left: 50%;
        bottom: -98px;
        transform: translateX(-50%);}


       .clientSlider .cetegory_slider_btn {
            width: 40.278px;
            height: 40.278px;
            color: #fff;
            background: #2196D7;
            border-radius: 50%;
            margin-top: -69px;}

            .clientReviewCard .pf-subHeading{
                text-align: end;
            }



            /* responsive===========> */

            @media(min-width:992px) and (max-width:1199.98px){
   
            }
            @media(min-width:768px) and (max-width:991.98px){
                .clientReview_section .clientSlider{
                    margin-top: 50px;
                }
                .clientSlider .swiper-slide img {
                    width: 150px;
                    height: 150px;
                    max-width: 100%;
                }
                .clientReviewCard{
                    width: 100%;
                    max-width: 100%;
                }
                .clientReview_section .pf-subHeading{
                    max-width: 100%;
                }
            }

            @media (min-width: 576px) and (max-width: 767px) {
                .clientReview_section .clientSlider{
                    margin-top: 50px;
                }
                .clientSlider .swiper-slide img {
                    width: 150px;
                    height: 150px;
                    max-width: 100%;
                }
                .clientReviewCard{
                    width: 100%;
                    max-width: 100%;
                }
                .clientReview_section .pf-subHeading{
                    max-width: 100%;
                }
                .clientReview_section .pf-heading{
                    font-size: 30px;
                }
                .clientReview_section {
                    padding: 80px 0;
                }
            }

            @media (max-width: 575.98px) {
                .clientReview_section .clientSlider{
                    margin-top: 50px;
                }
                .clientSlider .swiper-slide img {
                    width: 150px;
                    height: 150px;
                    max-width: 100%;
                }
                .clientReviewCard{
                    width: 100%;
                    max-width: 100%;
                }
                .clientReview_section .pf-subHeading{
                    max-width: 100%;
                }
                .clientReview_section .pf-heading{
                    font-size: 30px;
                }
                .clientReview_section {
                    padding: 80px 0;
                }
            }

/* client Review css end */


/* faq section css start */
.faq_section .pf-heading{
    text-align: start;
}

.faq_section .pf-subHeading{
    text-align: start;
    margin: 0;
}
.accordianHeading {
    display: flex;
    justify-content: space-between;
}

.accordianHeading{
    border-bottom: 1.5px solid #DADADA;
}

.accordianHeading .pf-perform-text{
    margin: 0;
    padding-bottom: 12px;
    color:#050808;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 500;
}
.openAccordian .pf-subHeading{
    margin: 0;
    padding-top: 0;
    padding-bottom: 18px;
}
.faq_section{
    padding-bottom: 160px;
}
.faq_section .col-lg-6{
    margin-bottom: 27px;
}


.openAccordian {
    display: none;
}

.accordianHeading {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.toggle-icon {
    font-size: 24px;
    font-weight: 700;
}

.main_accordian{
    margin-bottom: 21px;
}


/* =============> responsive */



@media (min-width: 576px) and (max-width: 767px) {
    
    .faq_section .pf-heading{
        font-size: 30px;
    }
    .accordianHeading .pf-perform-text{
        font-size: 20px;
    }
    .faq_section{
      padding-bottom: 60px;
    }
    
}


@media (max-width: 575.98px) {
    .faq_section .pf-heading{
        font-size: 30px;
    }
    .accordianHeading .pf-perform-text{
        font-size: 20px;
    }
    .faq_section{
        padding-bottom: 60px;
      }
}

/* faq section css end */